.new-note {
  width: 100%;
  min-height: 100vh;
  background-color: var(--black);
  color: var(--white);
  display: flex;
}
.new-note-panel {
  width: 300px;
  min-height: 100vh;
  background-color: var(--blackGray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.new-note-contain {
  width: 83%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
