select {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--blackLight);
  border-top: 6px solid var(--red);
  border-right: 6px solid var(--white);
  border-bottom: 6px solid var(--blue);
  border-left: 6px solid var(--green);
  color: white;
  cursor: pointer;

  &:hover {
    background-color: var(--whiteGray);
  }

  .red {
    background-color: red;
  }
  .orange {
    background-color: #ef724a;
  }
  .yellow {
    background-color: #f5cc05;
  }
  .green {
    background-color: #57e780;
  }
  .lightBlue {
    background-color: #4ddce5;
  }
  .blue {
    background-color: var(--blue);
  }
  .pink {
    background-color: #e153ff;
  }
  .purple {
    background-color: #864dff;
  }
  .black {
    background-color: var(--black);
  }
  .gray {
    background-color: var(--blackLight);
  }
  .grey {
    background-color: #cccccc;
  }
  .white {
    background-color: var(--white);
  }
}
