.font-comp {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--white);

  .font-comp-icon {
    font-size: var(--large);
    background-color: var(--blackLight);
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      color: var(--whiteGray);
    }
  }

  select {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: var(--blackLight);
    color: var(--white);
    border: none;

    &:hover {
      cursor: pointer;
      color: var(--whiteGray);
    }

    option {
      text-align: center;
      margin-top: 50px;
      font-weight: bold;
    }
  }
}
