.new-note-panel {
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blackGray);
  border-bottom: 2px solid var(--blackLight);
}
