.colors-comp {
  width: 80%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.colors-comp div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: aliceblue;
  margin: 5px;
  border: none;
  cursor: pointer;
}
.colors-comp div:hover {
}
.colors-comp .red {
  background-color: red;
}
.colors-comp .orange {
  background-color: #ef724a;
}
.colors-comp .yellow {
  background-color: #f5cc05;
}
.colors-comp .green {
  background-color: #57e780;
}
.colors-comp .lightBlue {
  background-color: #4ddce5;
}
.colors-comp .blue {
  background-color: var(--blue);
}
.colors-comp .pink {
  background-color: #e153ff;
}
.colors-comp .purple {
  background-color: #864dff;
}
.colors-comp .black {
  background-color: var(--black);
}
.colors-comp .gray {
  background-color: var(--blackLight);
}
.colors-comp .grey {
  background-color: #cccccc;
}
.colors-comp .white {
  background-color: var(--white);
}
