:root {
  --blue: #3471ff;
  --red: #e02b15;
  --yellow: #f9fc69;
  --green: #23eb68;
  --white: #ffff;
  --whiteGray: #afafaf;
  --whiteDark: #484848;
  --black: #1b1b1b;
  --blackGray: #272727;
  --blackLight: #343434;
}
